@import url("reset.css");

:root {
  --clr-primary-400: hsl(220, 98%, 61%);
  --clr-primary-checkBackground: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  --clr-light-100: hsl(0, 0%, 98%);
  --clr-light-200: hsl(236, 33%, 92%);
  --clr-light-400: hsl(233, 11%, 84%);
  --clr-light-500: hsl(236, 9%, 61%);
  --clr-light-700: hsl(235, 19%, 35%);

  --clr-dark-100: hsl(236, 33%, 92%);
  --clr-dark-300: hsl(234, 39%, 85%);
  --clr-dark-400: hsl(234, 11%, 52%);
  --clr-dark-600: hsl(233, 14%, 35%);
  --clr-dark-700: hsl(237, 14%, 26%);
  --clr-dark-800: hsl(235, 24%, 19%);
  --clr-dark-900: hsl(235, 21%, 11%);

  --ff-base: "Josefin Sans", sans-serif;
  --fs-base: 18px;
  --fw-base: 400;
  --fw-bold: 700;
}

/* General Styles */
body {
  min-height: 100vh;
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  background-color: var(--clr-dark-900);
  background-image: url("/assets/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  display: grid;
  justify-content: center;
}

main {
  width: 550px;
  margin: 5rem 1rem;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Heading Styles */
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading__title {
  color: var(--clr-dark-100);
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
}

/* New Todo Styles */
.new-todo {
  background: var(--clr-dark-800);
  margin: 2.25rem 0 2rem 0;
  padding: 1.125rem 1.5rem; 
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.new-todo > input {
  background: transparent;
  border: none;
  color: var(--clr-dark-300);
  width: 100%;
}

.new-todo > input:focus {
  outline: none;
}

/* Todo List Styles */
.todo-list {
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--clr-dark-800);
}

/* Item Styles */
.todo-item {
  display: flex;
  align-items: center;
  padding: 1.125rem 1.5rem;
  color: var(--clr-dark-300);
  cursor: pointer;
  border-bottom: 1px solid var(--clr-dark-700);
}

.checkbox {
  width: 25px;
  height: 25px;
  border: 1px solid var(--clr-dark-600);
  border-radius: 50%;
  background: transparent;
  margin-right: 1rem;
  cursor: pointer;
}

.checkbox.checked {
  background: var(--clr-primary-checkBackground);
}

.checkbox:hover,
.todo-item:hover .checkbox {
  border: 1px solid transparent;
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  -webkit-mask:
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.checkbox.checked::before {
  content: url('/assets/icon-check.svg');
  position: relative;
  top: -2px;
}

.todo-item > .btn {
  margin-left: auto;
  visibility: hidden;
}

.todo-item:hover > .btn {
  visibility: visible;
}

/* Todo Footer Styles */
.todo-footer {
  display: flex;
  padding: 0.75rem 1rem;
  color: var(--clr-dark-600);
  font-size: 0.875rem;
}

.center-wrapper {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.filter-wrapper {
  margin-top: 1rem;
  background: var(--clr-dark-800);
  color: var(--clr-dark-600);
  padding: 0.75rem;
  display: none;
  justify-content: center;
  gap: 1rem;
  font-size: 0.925rem;
  border-radius: 0.25rem;
}

.todo-footer .btn,
.filter-wrapper .btn {
  color: inherit;
  font-size: inherit;
}

.todo-footer .btn:hover,
.todo-footer .btn.current,
.filter-wrapper .btn:hover,
.filter-wrapper .btn.current {
  color: var(--clr-primary-400);
}
